html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: transparent;
  color: #fff;
  overflow: hidden;
}

img.displayed {
  width: 300;
  height: 300;
  display: block;
  margin-left: auto;
  margin-right: auto
}

img.background {
  opacity: 0;
  position: absolute;
  top: 50%; left: 50%;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'sketchetik';
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  margin: 30px 0;
}

.container {
  background: rgba(0,0,0,0.5);
  background-size: 600% 600%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  z-index: 1;
}


.header {
  max-width: 600px;
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.icons svg {
  transform: scale(.8);
  margin-left: 20px;
  margin-right: 20px;
}

.icons svg:hover {
  cursor: pointer;

  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: transform .5s;
  transition: transform .5s;
}

.content {
  display: none;
  max-width: 600px;
}

.video {
  position: absolute;
  top: 50%; left: 50%;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
}

@font-face {
  font-family: 'sketchetik';
  src: url('../font/Folktale.ttf');
}

@media(max-width: 768px) {
    img.background {
      opacity: 1;
    }
  .container {
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover
  }
  .video {
    display: none
  }
}

@media(max-width: 768px) {
  img.displayed {
    width: 250;
    height: 250;
  }
  h1 {
    font-size: 1.8em;
  }
  .container {
    padding: 20px;
    text-align: center;
  }
  .content, .header {
    max-width: 100%;
  }
  .icons svg {
    margin: 8px;
  }
  .icons svg:hover {
    transform: none;
  }

}
}
