/*BOOTSTRAP SPECIFIC CSS*/
.btn {
    border-radius: 0;
    background: rgba(0,0,0,0);
    border: none;
}


button:focus {
    outline:0 !important;
}

/*HIGHEST LEVEL NAVBAR*/
#profilesmall {
    height: 0px;
}

.navbar-default#main-nav {
    background-color: #2C9D74;
    color: white;
    border-bottom: none !important;
}

.nav.navbar-nav#main-nav-text li a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.nav.navbar-nav#main-nav-text-right li a {
    padding-top: 12px;
    padding-bottom: 9px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #2EAF80;
   background-color: #2EAF80;
   border-color: #2EAF80;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: white;
    color: white;
}

.dropdown-menu a{
    color: #000000 !important;
}

.dropdown-menu a:hover{
    background-color: #E3E4E3 !important;
}

#thelogos {
    height: 62px;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    font-weight: 500 !important;
    border-bottom: solid 2px white !important;
    background: rgba(0,0,0,0) !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #2EAF80;
}

#sub-nav {
    margin-top: 62px;
    z-index: 1;
}

.navbar-default#sub-nav {
    background-color: #F3F2F2 !important;
    color: black !important;
    border-bottom: none !important;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
    border-top: solid 1px black;
}

.nav.navbar-nav#sub-nav-text li a,
.nav.navbar-nav#sub-nav-text-right li a {
    padding-top: 13px;
    padding-bottom: 13px;
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.navbar-default#sub-nav .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0,0,0,0) !important;
}

.glyphicon-plus#add-stores-view {
    color: #2C9D74;
    margin-right: 6px;
}

/*END HIGHEST LEVEL NAVBAR*/
/*END BOOTSTRAP SPECIFIC CSS*/

/*BEGIN LOGIN/PASSWORD PAGE CSS*/
#login {
    background: url(../img/loginbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Avenir';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    box-shadow: 10px, 10px, white;
}

.card {
    padding: 10px 0 20px 0;
    margin: 0 auto 2rem;
    min-width: 10rem;
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.9);
    word-wrap: break-word;
    transition: 0.3s;
}

.card#thelogincard {
    max-width: 30rem;
}

.images {
    width: 85%;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 35px;
}

.card .title {
    position: relative;
    border-left: 6px solid #2C9D74;
    margin: 0 0 30px;
    padding: 10px 0 0px 45px;
    color: #2C9D74;
    font-size: 40px;
    font-weight: 600;
}

.card .titletwo {
    position: relative;
    border-left: 6px solid #2C9D74;
    margin: 0 0 30px;
    padding: 10px 0 0px 45px;
    color: #2C9D74;
    font-size: 35px;
    font-weight: 600;
}

.card .input {
    position: relative;
    margin: 0 60px 50px;
}

.card .input input {
    position: relative;
    outline: none;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.card .input input:focus ~ label {
    color: #A6A4A4;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
}
.card .input input:valid ~ label {
    color: #A6A4A4;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
}

.card .input label {
    position: absolute;
    top: 0;
    left: 0;
    color: #A6A4A4;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.card .input .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #A6A4A4;
  width: 100%;
  height: 1px;
}
.card .input .bar:before, .card .input .bar:after {
  content: '';
  position: absolute;
  background: #2C9D74;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.card .input input:focus ~ .bar:before, .card .input input:focus ~ .bar:after {
  width: 50%;
}

.card .input .bar:before {
  left: 50%;
}
.card .input .bar:after {
  right: 50%;
}
.card .button {
  margin: 0 60px;
  text-align: center;
}
.card .button button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 200px;
  border: 2px solid #A6A4A4;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card .button button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #2C9D74;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button button:hover, .card .button button:active, .card .button button:focus {
  border-color: #2C9D74;
}
.card .button button:hover span, .card .button button:active span, .card .button button:focus span {
  color: #2C9D74;
}
.card .button button:active span, .card .button button:focus span {
  color: #ffffff;
}
.card .button button:active:before, .card .button button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

.card .password {
  margin: 20px 0 0;
  color: #A6A4A4;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.card .password a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .password a:hover {
  color: #bababa;
}
/*END LOGIN/PASSWORD PAGE CSS*/

/*BEGIN PROFILE PAGE CSS*/
#profile {
    padding-top: 60px; 
    margin: 0 auto 1rem;
    min-width: 1rem;
    max-width: 60rem;
    background-color: rgba(255, 255, 255, 0);
    word-wrap: break-word;
    transition: 0.3s;
}

#profilebody {
    background: #D9DBDA;
    font-family: 'Helvetica Neue';
}

#profilepic {
    height: 30%;
    width: 30%;
}

.title#loginprofile {
    position:relative;
    float:right;
    top:55px;
    left: -60px;
    border-left: 0px solid #2C9D74;
    color: black;
    font-size: 50px;
    font-weight: 300;
}

.card#profile .input label#company,
.card#profile .input label#user {
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.card#profile .input label#emailprof,
.card#profile .input label#profpass,
.card#profile .input label#profpasscon {
    position: absolute;
    top: 0;
    left: 0;
    color: #7B7A7A;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.card .input .bar#usernamebar,
.card .input .bar#companybar{
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000000;
  width: 100%;
  height: 1px;
}

.card .input#margin-profile1 {
    position: relative;
    margin: -10px 60px 25px;
}

.card .input#margin-profile2,
.card .input#margin-profile3,
.card .input#margin-profile4,
.card .input#margin-profile5 {
    position: relative;
    margin: -5px 60px 25px;
}

.card .button button#profilego {
  border: 2px solid #2C9D74;
    margin-top: 15px;
}
.card .button button span#profilegotext {
  color: #2C9D74;
}

.card .button button#profilego:hover, .card .button button#profilego:active, .card .button button#profilego:focus {
  border-color: black;
}
.card .button button#profilego:hover span#profilegotext, .card .button button#profilego:active span#profilegotext, .card .button button#profilego:focus span#profilegotext {
  color: black;
}
.card .button button#profilego:active span#profilegotext, .card .button button#profilego:focus span#profilegotext {
  color: #ffffff;
}

/*END PROFILE PAGE CSS*/

/*BEGIN ROUTE-STORES PAGE CSS*/

#route-stores {
    padding-top: 145px; 
}

#store-card {
}

.store-images {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    
}

.store-card {
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    padding-bottom:0px;
    border-radius: 10px;
}

.store-info {
    margin-left: 22px;
    margin-top: 20px;
    font-family: 'Helvetica Neue';
    display: inline-block;
}

.store-name {
    font-size: 30px;
    font-weight: 500;
    max-width: 130px;
}

.store-address {
    max-width: 130px;
    font-weight: 300;
    font-size: 12px;
}

.store-id {
    font-weight: 400;
    max-width: 130px;
    font-size: 12px;
}

.store-sell-info {
    float: right;
    padding-right: 22px;
    padding-top: 26px;
    font-weight: 200;
}

.store-sold-background{
    display: inline-block;
    font-weight: 500;
    color: white;
    background: #2C9D74;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,1);
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    min-width: 40px;
    height: 30px;
    text-align: center;
    font-size: 13px;
}

#total-stores-routes {
    margin-right: 10px;
    margin-top: -40px;
    margin-bottom: -15px;
}

.bottom-store-card{
    margin-top: 25px;
    height: 40px;
    background: #E0E0E0;
    border-radius: 0 0 10px 10px;
    font-weight: 200;
    padding-left: 15px;
    padding-top: 10px;
}

.delete-store {
    color: #DA5050;
    float:right;
    font-size: 20px;
    padding:0px;
    margin: 0px;
    margin-top: -2px;
    margin-right: 10px;
}

.delete-store:visited {
    color: #DA5050;
    float:right;
    font-size: 20px;
    padding:0px;
    margin: 0px;
    margin-top: -2px;
    margin-right: 10px;
}

.delete-store:hover {
    color: #DA5050;
    background: rgba(0,0,0,0) !important;
    transform: scale(1.3);
}

.delete-store:active {
    outline: none !important;
    border: none !important;
    color: #F34545 !important;
    background: rgba(0,0,0,0) !important;
    margin-top: -2px;
    margin-right: 10px;
}

.delete-store:focus {
    color: #DA5050;
    font-size: 20px;
    padding:0px;
    margin: 0px;
    border-radius: 0;
    background: rgba(0,0,0,0) !important;
    border: none;
    margin-top: -2px;
    margin-right: 10px;
}

.too-small {
    display:none;
}


/*END ROUTE-STORES PAGE CSS*/


/*BEGIN MEDIA PROFILES*/
@media only screen and (min-width: 515px) and (max-width: 600px) {
   .title#loginprofile {
    top:50px;
    font-size: 45px;
    }
}
@media only screen and (min-width: 460px) and (max-width: 515px) {
   .title#loginprofile {
    top:45px;
    font-size: 38px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 460px) {
   .title#loginprofile {
    top:36px;
    font-size: 30px;
    }
}
@media only screen and (min-width: 370px) and (max-width: 390px) {
   .title#loginprofile {
    top:36px;
    font-size: 28px;
    }
}
@media only screen and (min-width: 340px) and (max-width: 370px) {
   .title#loginprofile {
    top:30px;
    font-size: 25px;
    }
}
@media only screen and (max-width: 340px) {
   .title#loginprofile {
    top:28px;
    font-size: 23px;
    }
}

@media only screen and (max-width: 371px) {
    .container#route-stores {
        display:none;
    }
    .too-small {
        display: block !important;
        padding-top: 100px !important;
        font-family: 'Helvetica-Neue';
        font-weight: 100;
        text-align: center;
        color: grey;
        padding: 5px;
    }
}

@media (min-width: 800px){
    .navbar#main-nav li {
        margin-left : 1.5em;
        margin-right : 1.5em;
    }
}

@media (min-width: 768px){ 
    #profilesmall {
        height: 40px;
    }
}
/*END MEDIA PROFILES*/

/*For the login/forgot password pages, some of Andy Tran's work was used as a reference, so the following copyright notice is included.
Copyright (c) 2016 by Andy Tran (http://codepen.io/andytran/pen/RPBdgM)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/