
.cssload-container {
    overflow: hidden;
}


.the-container {
    background-color: rgba(0,0,0,0.25);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
animation-delay: 0.2s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
    transform: none;
  }
}
 
.fadeInUp {
  -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
}

#about-img {
    background: url('../img/me.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
}

#light-img{
    background: url('../img/bloglight.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#bike-img{
    background: url('../img/blogbike.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#apps-img{
    background: url('../img/blogdaw.jpeg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#search-img{
    background: url('../img/blogbwc.jpeg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#past-img{
    background: url('../img/projpw.png');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#uw-img{
    background: url('../img/projuw.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#ultimate-img{
    background: url('../img/projuh.jpeg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#instagram-img{
    background: url('../img/projid.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#calc-img{
    background: url('../img/projcc.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#presentation-img{
    background: url('../img/projpd.jpeg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#low-img{
    background: url('../img/projlpa.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#finals-img{
    background: url('../img/projfg.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#smart-img{
    background: url('../img/projsr.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#accident-img{
    background: url('../img/projaig.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#facebook-img{
    background: url('../img/projfr.png');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#church-img{
    background: url('../img/projcw.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#upmc-img{
    background: url('../img/expupmc.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#sewickley-img{
    background: url('../img/expsa.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#explorer-img{
    background: url('../img/expes.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#inventory-img{
    background: url('../img/expic.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
}
#selftaught-img{
    background: url('../img/edust.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#uchicago-img{
    
    background: url('../img/eduuc.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: none;
} 
#home-img{
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    background: url('../img/background.jpeg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
}
    
#me {
    border-radius: 50%;
    position: absolute;
    height: 200px;
}

#welcome-text{
    color: white;
    font-weight: 300;
    font-size: 1.4vw;
    min-width: 200px;
}

#welcome-description {
    color: white;
    font-weight: 600;
    width: 650px;
    margin-top: -5px;
}

.welcome {
    position:absolute;
    margin-left:10vw;
}

.fa-lg, .fa-2x, .fa-3x, .fa-4x {
    color: white;
}

.fa-facebook-official, .fa-github, .fa-linkedin-square, .fa-file-pdf-o {
    margin-right: 50px;
}

.fa-facebook-official:hover {
    color: 	#3b5998;
    cursor: pointer;
}

.fa-github:hover {
    color: #9CDAF0;
    cursor: pointer;
}

.fa-linkedin-square:hover {
    color: #0077B5;
    cursor: pointer;
}

.fa-file-pdf-o:hover {
    color: #EEAC5A;
    cursor: pointer;
}

.fa-paper-plane-o:hover {
    color: #D87E95;
    cursor: pointer;
}

.fa-lg {
    -webkit-transition: color .2s ease-in-out, transform .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, transform .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, transform .2s ease-in-out;
    -o-transition: color .2s ease-in-out, transform .2s ease-in-out;
    transition: color .2s ease-in-out, transform .2s ease-in-out;
}

.fa-circle-o, .fa-circle {
    color: white;
    position:relative;
}

.fa-circle {
    color: white;
    cursor: pointer;
}

.circle-1 {
    margin-left: 200px;
}

.circle-2, .circle-3, .circle-4, .circle-5, .circle-6 {
    margin-left: 130px;
}

.lines {
    position:relative;
    top: 0;
    width: 600px;
    margin-left: 271px;
}

.labels {
    position: relative;
    top: 0;
    margin-left: 271px;
}

#label-1 {
    position:absolute;
    margin-left: -286px;
    margin-top: 10px;
    display: none;
    display: block;
}

#label-2 {
    position:absolute;
    margin-left: -76px;
    margin-top: 10px;
    display: none;
}

#label-3 {
    position:absolute;
    margin-left: 85px;
    margin-top: 10px;
    display: none;
}

#label-4 {
    position:absolute;
    margin-left: 227px;
    margin-top: 10px;
    display: none;
}

#label-5 {
    position:absolute;
    margin-left: 368px;
    margin-top: 10px;
    display: none;
}


#line-1 {
    position:absolute;
    margin-top: -12px;
    margin-left: -41px;
}

#line-2 {
    position:absolute;
    margin-top: -12px;
    margin-left: 107px;
}

#line-3 {
    position:absolute;
    margin-top: -12px;
    margin-left: 255px;
}

.line {
    display: inline-block;
    width: 132px;
    top: 0;
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
    height: 0.05px;
    border: solid 2px white; 
}

.label {
    display: inline-block;
    top: 0;
    position: relative;
    color: white;
}

#move-circles {
    position:absolute;
    margin-top: 10vh;
}

.fa-2x, .fa-3x {
    -webkit-transition: color .4s ease-in-out, transform .4s ease-in-out;
    -moz-transition: color .4s ease-in-out, transform .4s ease-in-out;
    -ms-transition: color .4s ease-in-out, transform .4s ease-in-out;
    -o-transition: color .4s ease-in-out, transform .4s ease-in-out;
    transition: color .4s ease-in-out, transform .4s ease-in-out;
}

.fa-angle-double-up:hover {
    -webkit-transform: translate3d(0,-9px,0);
    -moz-transform: translate3d(0,-9px,0);
    -ms-transform: translate3d(0,-9px,0);
    -o-transform: translate3d(0,-9px,0);
    transform: translate3d(0,-9px,0);
    color: #D87E95;
    cursor: pointer;
}

.fa-angle-double-down:hover {
    -webkit-transform: translate3d(0,9px,0);
    -moz-transform: translate3d(0,9px,0);
    -ms-transform: translate3d(0,9px,0);
    -o-transform: translate3d(0,9px,0);
    transform: translate3d(0,9px,0);
    color: #D87E95;
    cursor: pointer;
}

.fa-lg:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#socialmedia {
    position: absolute;
    top: 90vh;
}

#arrows {
    position: absolute;
    margin-left: 5vw;
}

#arrow-up {
    margin-bottom: 15px;
}

.huge {
    font-size: 60px;
}

.semi-huge {
    font-size: 55px;
}

.not-as-huge {
    50px;
}

#current-count, #total-count {
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
}

#current-count {
    margin-top: -21px;
    margin-bottom: 7px;
    color: #D87E95;
}

#total-count {
    border-top: solid 1px white;
    margin-bottom: -5px;
    padding-top: 4px;
}

#outside {
    background: black;
    visibility: hidden;
} 

body {
    background: black;
}
