body {
    background: #170124;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

button:focus, input:focus, textarea:focus {
    outline: 0;
}

#triangle-1 {
    width: 0;
    height: 0;
    border-left: 325px solid transparent;
    border-right: 325px solid transparent;
    border-top: 325px solid rgba(255,255,255,.11);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: fixed;
    bottom: 0;
    left: -155px;
}

#triangle-2 {
    width: 0;
    height: 0;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-top: 175px solid rgba(255,255,255,.07);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: fixed;
    right: -73px;
    top: 10px;
}

#buttons {
    width: 100px;
    height: 99.5%;
    margin: 0 auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

#divider {
    border: solid 3px white;
    width: 0px;
    height: 90%;
    margin: 0 auto;
    align-self: center;
}

.circle {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    position: absolute;
    align-self: center;
    margin: 0 auto;
    z-index: 5;
}

.icos {
    background: white;
    border-radius: 50%;
    position: absolute;
    align-self: center;
    margin: 0 auto;
    z-index: 5;
    color: #170124;
}

#facebook {
    -webkit-transform: translateY(-25vh);
    -moz-transform: translateY(-25vh);
    -ms-transform: translateY(-25vh);
    -o-transform: translateY(-25vh);
    transform: translateY(-25vh);
}

#fb-ico {
    -webkit-transform: translateY(-25vh) translateY(1px);
    -moz-transform: translateY(-25vh) translateY(1px);
    -ms-transform: translateY(-25vh) translateY(1px);
    -o-transform: translateY(-25vh) translateY(1px);
    transform: translateY(-25vh) translateY(1px);
    background: none;
}

#email {
    -webkit-transform: translateY(25vh);
    -moz-transform: translateY(25vh);
    -ms-transform: translateY(25vh);
    -o-transform: translateY(25vh);
    transform: translateY(25vh);
}

#em-ico {
    -webkit-transform: translateY(25vh);
    -moz-transform: translateY(25vh);
    -ms-transform: translateY(25vh);
    -o-transform: translateY(25vh);
    transform: translateY(25vh);
    background: none;
}

#vid-ico {
    -webkit-transform: translateX(2px) translateY(1px);
    -moz-transform: translateX(2px) translateY(1px);
    -ms-transform: translateX(2px) translateY(1px);
    -o-transform: translateX(2px) translateY(1px);
    transform: translateX(2px) translateY(1px);
    background: none;
}

.circle:hover, .icos:hover {
    cursor:pointer;
}

#nav {
    position:absolute;
    top: 0;
    left: 0;
    height: 99.5%;
    width: 50%;
}

.info {
    position:absolute;
    top: 0;
    left: 49.5%;
    height: 99.5%;
    width: 50%;
}

#logo {
    margin: 0 auto;
    width: 198px;
    font-family: 'Abril Fatface';
    font-weight: 100;
    font-size: 130px;
    transform: translateY(10vh);
}

.letter {
    display: inline-block;
    height: 0px;
    margin-top: 0px;
}

.dub {
    transform: translateX(-37px);
    margin-right: -37px;
}

#menu {
    margin: 0 auto;
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    width: 100px;
    transform: translateY(10vh);
}

.menu-item {
    margin-top: 45px;
    margin-bottom: 0px;
}

.menu-item:hover {
    cursor: pointer;
}

.selected {
    height: 0px;
    border: solid 2px white;
    margin: 0 auto;
    padding: 0px;
    margin-top: 3px;
    transition: opacity 0.3s linear;
}

#about {
    width: 60px;
}

#members {
    width: 90px;
    opacity: 0;
}

#repertoire {
    width: 95px;
    opacity: 0;
    
}

#contact {
    width: 100px;
    opacity: 0;
}

#about-nav:hover + #about {
    opacity: 1 !important;
}

#members-nav:hover + #members {
    opacity: 1 !important;
}

#repertoire-nav:hover + #repertoire {
    opacity: 1 !important;
}

#contact-nav:hover + #contact {
    opacity: 1 !important;
}


#about-blob {
    width: 58%;
    height: 60%;
    margin: 0 auto;
    transform: translateY(15vh) translateX(20px);
    font-size: 21px;
    font-weight: 100;
}

#repertoire-list {
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    width: 58%;
    height: 60%;
    margin: 0 auto;
    transform: translateY(15vh) translateX(20px);
}

#members-div {
    width: 58%;
    height: 60%;
    margin: 0 auto;
    transform: translateY(12vh) translateX(20px);
}

.random {
    display:none;
}

.row {
    margin: 0 auto;
    width: 93%;
}

.person {
    width: 75px;
    height: 75px;
    margin: 5px;
    border-radius: 50%;
}

.person:hover {
    cursor: pointer;
    transform: scale(1.8) !important;
    z-index: 11 !important;
}

.elizabeth {
    background: url('../img/liz.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.aliyah {
    background: url('../img/aliyah.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.kate {
    background: url('../img/kate.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.laura {
    background: url('../img/laura.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.sylvia {
    background: url('../img/sylvia.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.mariam {
    background: url('../img/mariam.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.dj {
    background: url('../img/dj.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.rebecca {
    background: url('../img/rebecca.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.renee {
    background: url('../img/renee.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.elissa {
    background: url('../img/elissa.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.samuela {
    background: url('../img/samuela.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

#member-information {
    padding-top: 30px;
    padding-left: 25px;
}

#name {
    font-size: 22px;
    margin-bottom: -2px;
}

#place {
    padding-bottom: 10px;
}

#divid {
    padding: 0px;
    margin-top: -1px;
    margin-bottom: 8px;
}

strong {
    font-weight: 600;
}

.info-mem {
    font-weight: 100;
    font-size: 15px;
}

.song-div {
    margin-top: 15px;
    margin-bottom: 15px;
}

#contact-section { 
    font-size: 22px;
    font-weight: 100;
    width: 58%;
    height: 60%;
    margin: 0 auto;
    transform: translateY(20vh) translateX(20px);
}

#name1, #email1, #message {
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: solid 1px white;
    width: 100%;
    margin-bottom: 10px;
}

#submit_button {
    border: none;
    background: rgba(0,0,0,0);
    border-bottom: dotted 3px white;
    float: right;
}

#submit_button:hover {
    border-bottom: solid 3px white;
}

#thanks { 
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    width: 58%;
    height: 60%;
    margin: 0 auto;
    transform: translateY(20vh) translateX(20px);
}

.getback {
    font-size: 20px;
    font-weight: 100;
}

.opb {
    font-size: 16px;
    display: inline-block;
}

@media(max-width: 0px) {
    
}