body {
    font-family: 'Raleway';
}

.initials {
    font-family: 'Bungee Shade';
    margin-left: 7px;
    color: white;
}

.sidething {
    display: inline-block;
    width: 53px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #EC4A32;
    padding: none;
    margin-bottom: -1000px;
    z-index: 2;
}

#contains {
    margin-left: 54px;
    z-index: 0;
    position:relative;
}

.education2 {
    margin-top: 1px;
}

.me {
    height: 200px;
    -webkit-filter: blur(0px);
}

.card {
    height: 200px;
    text-align:center;
    vertical-align: middle;
    -webkit-filter: blur(2px) grayscale(100%);
}

.card:hover {
    -webkit-filter: blur(0px);
    z-index: 1;
}

.content {
    border: solid 1px white;
    background: rgba(0,0,0,.7);
    font-family: 'Raleway';
    font-weight: 100;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#uchicago {
    background: url('../img/uchicago.jpg');
    background-size: cover;
    background-position: -90px;
    border-right: solid 1px white;
}

#sewickleyacademy {
    background: url('../img/sewickacademy.jpg');
    background-size: cover;
    border-right: solid 1px white;
}

#carnegiemellon {
    background: url('../img/cmu.jpg');
    background-size: cover;
    border-right: solid 1px white;
}

#selftaught {
    background: url('../img/selftaugh.jpg');
    background-size: cover;
}

#inventoryconnection {
    background: url('../img/iconnection.png');
    background-size: cover;
    background-position: -20px;
    border-right: solid 1px white;
}

#explorer {
    background: url('../img/explorer.png');
    background-size: cover;
}

#me {
    background: url('../img/lowpoly.jpg') no-repeat;
    background-size: contain;
    background-position: 95px;
    -webkit-filter: blur(0px) grayscale(0%);
    margin-top: 4px;
    margin-bottom: 3px;
}

#sewickleyacademy2 {
    background: url('../img/sewickacademy.jpg');
    background-size: cover;
    background-position: -95px;
    border-right: solid 1px white;
}

#upmc {
    background: url('../img/upmc.jpg');
    background-size: cover;
    background-position: -110px;
}

#facebook {
    background: url('../img/facebook.png');
    background-size: cover;
    border-right: solid 1px white;
}

#clubw {
    background: url('../img/clubw.png');
    background-size: cover;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

#polyart {
    background: url('../img/lauren.jpg');
    background-size: cover;
    border-right: solid 1px white;
}

#myreceipts {
    background: url('../img/myreceipts.png');
    background-size: cover;
    border-right: solid 1px white;
}

#yourcalc {
    background: url('../img/yourcalc.png');
    background-size: cover;
}

#aig {
    background: url('../img/iaccidents.png');
    background-size: cover;
    border-right: solid 1px white;
}

#presentation {
    background: url('../img/presentation.png');
    background-size: cover;
    border-right: solid 1px white;
}

#instagram {
    background: url('../img/instagramlogo.png');
    background-size: cover;
    background-position: -3px;
    border-right: solid 1px white;
}

#church {
    background: url('../img/church.png');
    background-size: cover;
    border-right: solid 1px white;
}

#finalschedule {
    background: url('../img/finalschedule.jpg');
    background-size: cover;
    background-position: -50px;
}

#airhorn {
    background: url('../img/horn.png');
    background-size: cover;
    background-position: 0px;
}

#post1 {
    background: url('../img/post-1.jpg');
    background-size: cover;
    background-position: 0px;
}

#post2 {
    background: url('../img/post-2.png');
    background-size: cover;
    background-position: 0px;
}

#post3 {
    background: url('../img/post-3.png');
    background-size: cover;
    background-position: 0px;
}

#post4 {
    background: url('../img/post-4.png');
    background-size: cover;
    background-position: 0px;
}



.content {
    height: 0px; 
    width: 0px;
}

.card-type {
    display:none;
}

.card:hover .card-type {
    display:inline-block;
    color: white;
    font-size: 25px;
}

.card:hover .content {
    height: 70px;
    width: 230px;
}

.card:hover .content2 {
    width: 175px;
}

.card:hover .cmucont {
    width: 270px;
}

.card:hover .cmucont2 {
    width: 290px;
}

.card:hover .selft {
    width: 180px;
}

.card:hover .ic {
    width: 180px;
}

.sep {
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.card:hover .sep {
    visibility: visible;
    width: 150px;
    height: 5px;
    margin-top: 0px;
    margin-bottom: -5px;
}


.sub-type {
    font-size: 19px !important;
    font-weight: 400 !important;
}

.sub-type2 {
    font-size: 17px !important;
    font-weight: 500 !important;
    margin-top: 3px;
}

.edu-point, .exp-point, .pro1-point, .pro2-point, .blog-point, .about-point, .contact-point {
    width: 9.5px;
    height: 9.5px;
    background: rgba(255, 255, 255, .5);
    border-radius: 1000px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.edu-point {
    margin-top: 200px;
}

.edu-point:hover {
    -webkit-transform: scale(1.4);
    background: rgba(255, 255, 255, .8);
}

.exp-point:hover {
    -webkit-transform: scale(1.4);
    background: rgba(255, 255, 255, .8);
}

.pro1-point:hover {
    -webkit-transform: scale(1.4);
    background: rgba(255, 255, 255, .8);
}

.pro2-point:hover {
    -webkit-transform: scale(1.4);
    background: rgba(255, 255, 255, .8);
}

.blog-point:hover {
    -webkit-transform: scale(1.4);
    background: rgba(255, 255, 255, .8);
}

.about-point:hover {
    -webkit-transform: scale(1.4);
    background: rgba(255, 255, 255, .8);
}

.contact-point:hover {
    -webkit-transform: scale(1.4);
    background: rgba(255, 255, 255, .8);
}

.edu-point:active {
    -webkit-transform: scale(1.9);
    background: rgba(255, 255, 255, .8);
}

.exp-point:active {
    -webkit-transform: scale(1.9);
    background: rgba(255, 255, 255, .8);
}

.pro1-point:active {
    -webkit-transform: scale(1.9);
    background: rgba(255, 255, 255, .8);
}

.pro2-point:active {
    -webkit-transform: scale(1.9);
    background: rgba(255, 255, 255, .8);
}

.blog-point:active {
    -webkit-transform: scale(1.9);
    background: rgba(255, 255, 255, .8);
}

.about-point:active {
    -webkit-transform: scale(1.9);
    background: rgba(255, 255, 255, .8);
}

.contact-point:active {
    -webkit-transform: scale(1.9);
    background: rgba(255, 255, 255, .8);
}

.pg-section, .pg-section2, .pg-section3, .pg-section4, .pg-section5, .pg-section6 {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 10px;
    margin-left: -13px;
    margin-top: -8px;
    z-index: 2;
    background:  rgba(255, 255, 255, 1);;
    position:fixed;
    padding: 5px;
    padding-left: 50px;
    padding-right: 10px;
    text-align: center;
    visibility:hidden;
}

.edu-point:hover .pg-section{
    visibility: visible;
}

.exp-point:hover .pg-section2{
    visibility: visible;
}

.pro1-point:hover .pg-section3{
    visibility: visible;
}

.blog-point:hover .pg-section4{
    visibility: visible;
}

.about-point:hover .pg-section5{
    visibility: visible;
}

.contact-point:hover .pg-section6{
    visibility: visible;
}

.blandlink {
    color: #EC4A32;
}

.blandlink:hover, .blandlink:active, .blandlink:focus{
    color: #EC4A32;
}

.git {
    margin-left: 80px;
    margin-top: 15px;
    display:inline-block;
    color: #EC4A32;
    -webkit-filter: blur(1px);
}

.lin {
    margin-left: 40px;
    margin-top: 10px;
    color: #EC4A32;
    -webkit-filter: blur(1px);
}

.mail {
    margin-left: 240px;
    margin-top: -107px;
    color: #EC4A32;
    -webkit-filter: blur(1px);
}

.res {
    margin-left: 243px;
    margin-top: 22px;
    color: #EC4A32;
    -webkit-filter: blur(1px);
}

.git:hover, .lin:hover, .res:hover, .mail:hover {
    -webkit-filter: blur(0px);
}

.popup {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: -webkit-calc(100%-54px);
    margin-left: 54px;
}

.popup-contains {
    position:fixed;
    text-align: center;
    margin:auto;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url('../img/loading.gif') center no-repeat #fff;
}

.toosmall {
    display:none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    text-align: center;
    vertical-align: center;
    margin-top: 100px;
    
}

@media (max-width: 991px) {
    .se-pre-con {
        display:none;
    }
    .toosmall {
        display: block;
    }
    .pop-up {
        display: none;
    }
    .container-fluid {
        display: none;
    }
}

